.btn-login {
    background-color: #03A8F3;
    color: white;
}
.login-a {
    color: #03A8F3;
}

.logout {
    cursor: pointer;
}

.popular_cat_img {
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
}
.footer {
    color: #3c3c3c;
}
.footer ul li a {
    color: #8f8f8f;
}
.copyright-text {
    font-size: 12px;
}



@media all and (max-width: 576px){
    .ml-sm-3 {
        margin-left: 20px;
     }
}

/* @media all and (max-width: 992px){
    .sub-cats {
        display: none;
    }
} */