<h1>Change password</h1>
<hr>


<p class="text-center" ng-if="user.password_reset">Your password was changed, type your own so you can remember it</p>
<div class="mt-5">
    <form method="post" ng-submit="changepassword.changePass()">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div ng-if="user.password_reset" class="form-group">
                    <label for="old_password">Old password</label>
                    <input type="password" name="old_password" id="old_password" class="form-control mb-4" placeholder="********"
                        ng-model="changepassword.user.oldPass" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control mb-4" placeholder="********"
                        ng-model="changepassword.user.newPass" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm password</label>
                    <input type="password" name="password2" id="password2" class="form-control mb-4" placeholder="********"
                        required>
                </div>

                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                <p class="text-primary text-center mt-4">{{changepassword.message.message}}</p>

            </div>
        </div>
    </form>
</div>