<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="css/custom.css">
    <link href="css/ui.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <title>Webshop by Omar Iriskic</title>
</head>

<body ng-app="app">

    <div class="sub-nav-wrap">
        <div class="container">
            <div class="sub-nav">
                <a ui-sref="login" ng-if="!loggedIn">Login</a>
                <a ui-sref="register" ng-if="!loggedIn">Register</a>
                <span data-toggle="tooltip" title="View profile" data-placement="bottom"><a ui-sref="user({username:user.username})" id="loggedUser" ng-if="loggedIn">Hi <b>{{user.first_name}}</b></a></span>
                <a ui-sref="dailydeals">Daily Deals</a>
                <a ui-sref="helpcontact" id="helpcontact">Help & Contact</a>
                <a ng-controller="LoginCtrl as login" ng-if="loggedIn" id="cartBtn"><i class="fas fa-cart-plus"></i> Cart</a>
                <a ng-controller="LoginCtrl as login" ng-if="loggedIn" ng-click="login.logOut()" id="logoutBtn">Logout</a>
            </div>
        </div>
    </div>



    <div ng-if="loggedIn && !user.confirmed" class="container mt-2 mb-2">
        <h6 class="text-center text-danger">An email with confirmation link has been sent to you.</h6>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Webshop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div ng-controller="CategoriesCtrl as categories" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li ng-repeat="cat in categories.categories" class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="category({id:cat.id})">{{cat.category_name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <div class="mt-4 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form class="form-inline mx-auto text-center">
                    <input class="form-control mr-sm-2 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center"
                        type="search" placeholder="Search for anything">
                    <div class="mx-auto">
                        <button class="btn btn-outline-primary my-2 my-sm-2" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <ui-view></ui-view>
    </div>




    


    <!-- Include scripts -->
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.bundle.min.js"></script>
    <!-- Angular -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/components/homepage/homepage.ctrl.js"></script>
    <script src="app/components/login/login.ctrl.js"></script>
    <script src="app/components/register/register.ctrl.js"></script>
    <script src="app/components/user/user.ctrl.js"></script>
    <script src="app/components/categories/categories.ctrl.js"></script>
    <script src="app/components/category/category.ctrl.js"></script>
    <script src="app/components/category/subcategory.ctrl.js"></script>
    <script src="app/components/password_reset/password_reset.ctrl.js"></script>
    <script src="app/components/change_password/change_password.ctrl.js"></script>
</body>

</html>